body{
    margin: 0px;

} 



.container{
    width: 95%;
    max-width: 950px;
    margin: 0 auto;
    border: 5px solid violet;

}

.column{
    display: flex;
    border: 2px solid lightcoral;

}


.col-1{
    
}

.col-2{
    
}

.col-3{

}

img{
    width: 100%;
}

@media (max-width: 600px) {
    body{
        background-color: aqua;
    }

    .column {
        flex-direction: column;
    };
    .col-1{
        width:20%;
    }
    .col-2{
        width:45%;
    }
    .col-3{
        width:40%;
    }
}
@media (max-width: 1100) {
    
    body{
        background-color: cadetblue;
    }
}

nav ul{
    border: 1px solid magenta;
    list-style: none;
    display: flex;
}

nav ul li{
    border: 1px dotted orange;
    
}

ol>li{
    display: table;
}


ol{
    counter-reset: item;
}
li{
    display: block;
}

li:before { content: counters(item,".") " "; counter-increment: item}
