/*  */
header{
    --border-width: 5px;
}

.border{
    border: var(--border-width) solid blue;
}


body{
    padding: 0px;
    margin: 0px;
    
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow:row wrap;
}

.navigation{
     display: flex;
     flex-flow: row wrap;
     justify-content: flex-end;
}

@media all and (max-width: 800px) {
    .navigation{
    justify-content: space-between;}
}

section{
    padding: 20px;
    min-height: 50vh;
    margin: 0px;
    background-color: antiquewhite;
}

div{
    padding: 10px;
    min-height: 25vh;
    min-width: 25vh;
    background-color: aquamarine;
    color: blueviolet;
}