/*  */
html{
    --color: orange;
    --border-width: 10px;
    --brand-color: red;
    --max-reading-length: 70ch;
    --transparent-black: rgba(0, 0, 0, 0.5);
}

button{
    --h:100;
    --s:50%;
    --l:50%;
    --a:1;
}

/*  */
button:hover{ 
    --l: 75%;
}
button:focus{
    --s: 75%;
}
button:disabled{
    --s: 0%;
    --a: 0.5;
}

h1{
    color: var(--color);
}

.border{
    border: var(--border-width) solid blue;
}


body{
    padding: 0px;
    margin: 0px;
    
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow:row wrap;
}

.navigation{
     display: flex;
     flex-flow: row wrap;
     justify-content: flex-end;
}

@media all and (max-width: 800px) {
    .navigation{
    justify-content: space-between;}
}

section{
    padding: 20px;
    min-height: 50vh;
    margin: 0px;
    background-color: antiquewhite;
}

div{
    padding: 10px;
    min-height: 25vh;
    min-width: 25vh;
    background-color: aquamarine;
    color: blueviolet;
}