/*---- Common ----*/

body {
  font-family: 'Kanit', sans-serif;
}

.section{
  margin-bottom: 64px;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kanit', sans-serif;
}
body {
    font-size: 17px;
    font-family: 'Sarabun', sans-serif;
}

h1{
    font-size: 4em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.3em;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

/*---- Menu ----*/

/*---- Hero Section ----*/

.hero-title {
  padding-top: 128px;
  font-size: 64px;
  font-weight: 600;
}

.hero-section {
  height: 720px;
  background-image: url('../images/hero-background.jpg'); /* Photo by Nicholas Kampouris on Unsplash */
  background-size: cover;
  background-position: center center;
}

/*---- Collection Section ----*/
.collection-item-title{
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}
.collection-item {
  padding: 24px;
  border-radius: 8px;
  background-size: cover;
  background-position: 50% 82%;
}

.collection-item-one {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1)),
    url('../images/classic-collection.jpg'); /* Photo by NordWood Themes on Unsplash */
}

.collection-item-two {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.2)
    ),
    url('../images/sport-collection.jpg'); /* Photo by Tom Radetzki on Unsplash */
}

.collection-item-three {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url('../images/sandal-collection.jpg'); /* Photo by Andy Garza on Unsplash */
}

.collection-item-four {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)),
    url('../images/casual-collection.jpg'); /* Photo by Trendest Studio on Unsplash */
}

/*---- Product Section ----*/
.product-item{
  width: calc(100% / 3);
  margin-bottom: 16px;
}

.product-item-image{
  /* width: calc(50%); */
  width: 500px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 18px;
  margin-bottom: 12px;
}



.product-item-title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.price{
  margin-top: 24px;
}

/*---- About Section ----*/
